.container {
  border: 1px solid black;
  max-width: 1080px;
  margin: 10px 20px;
  
}

.col {
max-width: 192px;
}

h1 {
  position: relative;
  color: gray;
  top: 15px;
  left: 190px;
}

.app {
  border: 1px solid gray;
  border-radius: 30px;
  max-width: 1030px;
  margin: 15px;
}

h2,
p {
  font-size: BOLD;
  color: gray;
  position: relative;
  text-align: center;
}

form {
  position: relative;
  left: 15px;
  max-width: 1130px;
  margin: 0px 0px 15px 0px;
}
.search-form {
    max-width: 1025px;
}

h3 {
  left: 490px;
  position: relative;

  font-size: 16px;
    color: black;
}
