.container {
  border: 1px solid black;
  max-width: 1080px;
  margin: 10px 20px;
  
}

li {
  text-align: left;
}

.col {
max-width: 182px;
padding: 0px;
text-align: center;
margin: 0 auto;
}

h1 {
  position: relative;
  margin: 0 auto;
  color: gray;
  top: 15px;
  left: 190px;
}

.app {
  border: 1px solid gray;
  border-radius: 30px;
  max-width: 1030px;
  margin: 15px;
}

h2 {
  font-size: 20px;
  color: gray;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

form {
  position: relative;
  left: 15px;
  max-width: 1130px;
  margin: 0px 0px 15px 0px;
}
.search-form {
    max-width: 1025px;
}

h3 {
  left: 490px;
  position: relative;
  margin: 0 auto;
  font-size: 16px;
    color: black;
}
